<!-- {{ticker|json}} -->
Current Timestamp: {{date}}
<div *ngIf='dataChannel'>
    <div class='tableA'>
        <!-- {{dataChannel.chartView|json}} -->
        <div style="height: 27pt; display:inline-block">
            <button (click)="getTickerData()">Refresh Ticker</button>
            <button (click)="getChartData()">Get Chart Data</button>
            <div style="color: red">{{message}}</div>
            {{dataChannel.tickerProgress}}
            {{dataChannel.chartProgress}}
        </div>
        <p></p>
        <div class="tableT">
            <p-dataTable [value]="dataChannel.tickerView|btcTicker" [tableStyle]="{'font-size':'9pt'}">
                <p-column field="coin" header="Coin" [sortable]="true"></p-column>
                <p-column field="coinname" header="CoinName" [sortable]="true"></p-column>
                <p-column field="price" header="Price" [sortable]="true"></p-column>
            </p-dataTable>
        </div>
        <!-- {{{dataChannel.chartView|btcChart)|json}} -->
        <div class="tableC">
            <p-dataTable [value]="dataChannel.chartView|btcChart" [tableStyle]="{'font-size':'9pt'}">
                <p-column field="coin" header="Coin" [sortable]="true"></p-column>
                <p-column field="volspike5min" header="Vol Surge 5 min" [sortable]="true"></p-column>
                <p-column field="volspike15min" header="Vol Surge 15 min" [sortable]="true"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>